.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;

    select {
        width: 200px;
    }

    option {
        background: var(--body-fg);
    }

    &-header {
        background-color: var(--body-fg);
        color: white;
        height: 64px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        font-size: 18px;
        font-weight: 500;

        span:first-child {
            padding-right: 16px;
            border-right: 1px solid white;
        }

        span:last-child {
            margin-left: 16px;
            color: var(--gray);
        }
    }

    &-body {
        margin: 0 auto;
        max-width: 1600px;
        padding: 30px;
    }

    &-controls {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        > * {
            margin-right: 16px;
        }
    }

    &-output {
        display: flex;
        
        > * {
            min-height: 430px;
        }

        > *:not(:last-child) {
            margin-right: 24px;
        }

        .card-body {
            height: 100%;
        }

        .optimized-switch {
            position: absolute;
            top: 24px;
            right: 24px;

            .switch input + label::before {
                background-color: transparent !important;
            }
        }
    }

    .optimize-error {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

}